body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-236px;
  width:428px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5650 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5651_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:926px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5651 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:207px;
  width:428px;
  height:926px;
  display:flex;
}
#u5651 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5651_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5652_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u5652 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:170px;
  width:94px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u5652 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5652_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5653_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:57px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5653 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:207px;
  width:428px;
  height:57px;
  display:flex;
}
#u5653 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5653_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u5654 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:215px;
  width:60px;
  height:40px;
  display:flex;
}
#u5654 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5654_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5655_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u5655 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:280px;
  width:123px;
  height:21px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u5655 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5655_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5656 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5657 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5658_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:24px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:17px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u5658 {
  border-width:0px;
  position:absolute;
  left:572px;
  top:338px;
  width:45px;
  height:24px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u5658 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u5658_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5659_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u5659 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:341px;
  width:18px;
  height:18px;
  display:flex;
  text-align:left;
}
#u5659 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u5659_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5660_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5660 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:340px;
  width:70px;
  height:16px;
  display:flex;
}
#u5660 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5660_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5661 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5662 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5663_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:24px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.247058823529412);
  border:none;
  border-radius:22px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u5663 {
  border-width:0px;
  position:absolute;
  left:572px;
  top:389px;
  width:45px;
  height:24px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:right;
}
#u5663 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 8px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5663_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5664_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u5664 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:392px;
  width:18px;
  height:18px;
  display:flex;
  text-align:left;
}
#u5664 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 8px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5664_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5665_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5665 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:393px;
  width:83px;
  height:16px;
  display:flex;
}
#u5665 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5665_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5666 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5667 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5668_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:24px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:17px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u5668 {
  border-width:0px;
  position:absolute;
  left:572px;
  top:439px;
  width:45px;
  height:24px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u5668 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u5668_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5669_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u5669 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:442px;
  width:18px;
  height:18px;
  display:flex;
  text-align:left;
}
#u5669 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u5669_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5670_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5670 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:441px;
  width:103px;
  height:16px;
  display:flex;
}
#u5670 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5670_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5671 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5672 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5673_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:24px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:17px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u5673 {
  border-width:0px;
  position:absolute;
  left:572px;
  top:490px;
  width:45px;
  height:24px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u5673 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u5673_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5674_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u5674 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:493px;
  width:18px;
  height:18px;
  display:flex;
  text-align:left;
}
#u5674 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u5674_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5675_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5675 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:492px;
  width:68px;
  height:16px;
  display:flex;
}
#u5675 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5675_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5676 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5677 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:24px;
  background:inherit;
  background-color:rgba(24, 144, 255, 1);
  border:none;
  border-radius:17px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u5678 {
  border-width:0px;
  position:absolute;
  left:572px;
  top:540px;
  width:45px;
  height:24px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:left;
}
#u5678 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u5678_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5679_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u5679 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:543px;
  width:18px;
  height:18px;
  display:flex;
  text-align:left;
}
#u5679 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 8px;
  box-sizing:border-box;
  width:100%;
}
#u5679_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5680_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5680 {
  border-width:0px;
  position:absolute;
  left:283px;
  top:542px;
  width:110px;
  height:16px;
  display:flex;
}
#u5680 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5680_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
