body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-103px;
  width:596px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8776_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8776 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:204px;
  width:85px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8776 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8776_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8777 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8778_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:926px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8778 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:367px;
  width:428px;
  height:926px;
  display:flex;
}
#u8778 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8778_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8779_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u8779 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:330px;
  width:73px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
}
#u8779 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8779_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8780_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:428px;
  height:57px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8780 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:367px;
  width:428px;
  height:57px;
  display:flex;
}
#u8780 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8780_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u8781 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:375px;
  width:60px;
  height:40px;
  display:flex;
}
#u8781 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8781_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:47px;
}
#u8782 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:719px;
  width:390px;
  height:47px;
  display:flex;
  text-align:left;
}
#u8782 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8782_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:47px;
}
#u8783 {
  border-width:0px;
  position:absolute;
  left:253px;
  top:626px;
  width:128px;
  height:47px;
  display:flex;
  text-align:left;
}
#u8783 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8783_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8784_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8784 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:640px;
  width:34px;
  height:19px;
  display:flex;
}
#u8784 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8784_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8785_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u8785 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:444px;
  width:170px;
  height:170px;
  display:flex;
}
#u8785 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8785_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8786_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8786 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:733px;
  width:71px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8786 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8786_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8787_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:47px;
}
#u8787 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:789px;
  width:390px;
  height:47px;
  display:flex;
  text-align:left;
}
#u8787 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8787_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8788 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:743px;
  width:0px;
  height:0px;
}
#u8788_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:121px;
  height:10px;
}
#u8788_seg1 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:-9px;
  width:18px;
  height:18px;
}
#u8788_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8789_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8789 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:802px;
  width:57px;
  height:20px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u8789 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8789_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8790 {
  border-width:0px;
  position:absolute;
  left:512px;
  top:813px;
  width:0px;
  height:0px;
}
#u8790_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:63px;
  height:10px;
}
#u8790_seg1 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:-6px;
  width:10px;
  height:11px;
}
#u8790_seg2 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:-6px;
  width:63px;
  height:10px;
}
#u8790_seg3 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:-10px;
  width:18px;
  height:18px;
}
#u8790_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
